.section {
    padding-top: 40px;    
    padding-bottom: 40px;
    position: relative;
}

.section.skills {
    background-color: #f5f5f5;
    padding-bottom: 120px;
}

.section.experience .item {
    position: sticky;
    top: 0;
}

@include media-breakpoint-down(md) {
    .section {
        padding-top: 20px;
    }
}